In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [6]:
# data allocation
data = pd.read_csv("insurance.csv")

In [7]:
# checking the first 5 data
data.head()

   age  gender     bmi  children  smoker      charges
0   19       0  27.900         0       1  16884.92400
1   18       1  33.770         1       0   1725.55230
2   28       1  33.000         3       0   4449.46200
3   33       1  22.705         0       0  21984.47061
4   32       1  28.880         0       0   3866.85520

In [8]:
# checking the DataFrame including the index dtype and columns, non-null values and memory usage
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   gender    1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   charges   1338 non-null   float64
dtypes: float64(2), int64(4)
memory usage: 62.8 KB

In [9]:
# checking the basic statistical information
data.describe()

,age,gender,bmi,children,smoker,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.505232,30.663397,1.094918,0.204783,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,12110.011237
min,18.000000,0.000000,15.960000,0.000000,0.000000,1121.873900
25%,27.000000,0.000000,26.296250,0.000000,0.000000,4740.287150
50%,39.000000,1.000000,30.400000,1.000000,0.000000,9382.033000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,16639.912515
max,64.000000,1.000000,53.130000,5.000000,1.000000,63770.428010