In [2]:
from sklearn.model_selection import train_test_split
import pandas as pd

In [6]:
# data allocation
data = pd.read_csv("insurance.csv")

In [7]:
# checking the first 5 data
data.head()

   age  gender     bmi  children  smoker      charges
0   19       0  27.900         0       1  16884.92400
1   18       1  33.770         1       0   1725.55230
2   28       1  33.000         3       0   4449.46200
3   33       1  22.705         0       0  21984.47061
4   32       1  28.880         0       0   3866.85520

In [5]:
# checking the data's 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   gender    1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   charges   1338 non-null   float64
dtypes: float64(2), int64(4)
memory usage: 62.8 KB